@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Afacad";
  src: url("/fonts/Afacad.woff2") format("woff2"),
    /* Adjust the format and path */ url("/fonts/Afacad.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-black text-white; /* This will make the body background black and text white */
}
